/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2016, 17:24:59
    Author     : Rubio
*/
body{background: #006666; margin: auto; width: 800px;}
.formulario{background: #265D34; color: #fff; width: 300px; margin: auto; padding: 4%; border-radius: 50px;}
div p{color: #ff0033;}
.boton1{background: #ff3333; cursor: pointer; color: #fff; font-size: 15px; padding: 5px;}
.boton2{background: #3300ff; cursor: pointer; color: #fff; font-size: 15px;padding: 5px;}

