/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2016, 19:03:27
    Author     : Rubio
*/

body{background: #006666;}
.container{width: 300px; margin: auto; padding: 4%;}
h1{text-align: center; color: #fff;}
.archiv{background:#ff6666; color: #fff; height: 60px; border-radius: 20px;
       padding: 2%; text-align: center; margin-bottom: 20px; font-size: 20px; 
}
